// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar{
    background: #2f00ff;
}
.fa-facebook-official {
    color: #fff;
}
.dropdown-toggle{
    color: #000;
}

.dropdown-toggle:hover{
    color: #222;
}