// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    margin-top: 80px;
    background-image: linear-gradient(#fff,gold,#fff);
}
#logo{
     font-family: 'Tangerine', serif;
     font-size: 58px;
     text-shadow: 4px 4px 4px #000;
     font-weight: 900;
}
#logoI{
     font-family: 'Tangerine', serif;
     font-size: 38px;
     margin-right: 15px;
     text-shadow: 4px 4px 4px #000;
     font-weight: 900;
     color: #fff;
     text-shadow: 1px 1px gold;
}
.settings{
    margin-left: 80%;
    font-family: 'Tangerine', serif;
    font-size: 38px;
    background-image: linear-gradient(#fff,gold,#fff);
}
.posting-modal{
    font-family: 'Tangerine', serif;
}
.postBut{
    width: 100%; 
    text-transform: capitalize;
}
.layout{
    width: 100%;
    height: 800px;
    border: 1px solid red;
}
.text-content{
    font-family: 'Tangerine', serif;
    font-size: 35px;
}
.sect{
    width: 100%;
    height: 200px;
    border: 1px solid gold;
    border-radius: 5px;
    box-shadow: inset 0 0 10px #000000;
}
img[alt='oops']{
    width: 50px;
    height: 100px;
    border: 1px solid gold;
}
.suggested-wrap{
    border: 1px solid gold;
    box-shadow: inset 0 0 10px #000000; 
}
.suggested-likes{
    height: 35px;
    border: 1px solid goldenrod;
    box-shadow: inset 0 0 10px #000000; 
}
.suggested-page-image{
   border: 1px solid goldenrod;
   box-shadow: inset 0 0 10px #000000; 
}

img[alt='suggested-page-image']{
    width: 100%;
    height: 200px;
}
img[alt='suggested-page-image-logo']{
    width: 50px;
    height: 50px;
}
.fa-plus{
    height: 22px;
    border: 1px solid goldenrod;
    box-shadow: inset 0 0 10px #000000; 
}
.instant-game{
    border: 1px solid silver;
}

.your-game{
    border: 1px solid silver;
}

.chats{
    width: 100%;
    padding: 5px;
    border: 1px solid goldenrod;
    box-shadow: inset 0 0 10px #000000;
}
.poster{
    width: 100%;
    height: 100%;
    background: #fff;
    border:0;
    color: #555;
    font-size: 15px;
}
.poster:hover{
    background: #fff;
    border:0;
    color: #444;
}

.link-wrap > a{
    font-size: 15px;
    text-transform: capitalize;
}
.lang{
    font-size: 10px;
    color:  #444;
}
$small-text: 13px;
.small{
    font-size: $small-text;
}
img[alt='name']{
    width: 80px;
    height: 80px;
    border: 1px solid silver;
}
.right{
    width: 90%;
}
.right-input{
    height: 30px;
    border-radius: 20%;
}
.right-comment{
    width: 90%;
}
.brand{
    color: #f0f0f0;
    font-family: cursive;
    font-weight: 900;
    padding: 5px;
    font-size: 34px;
}