img[alt="default_avatar"]{
    width: 35px;   
}
.profile-avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.sho-profile-avatar{
    width: 100%;
}
.signup_navbar{
    width: 100%;
    height: 82px;
    background: #000;
}
.signup_navbar a{
    color: #fff;
    font-size: 50px;
    margin-left: 120px;
    font-weight: 700;
    text-decoration: none;
}
.fa-users{
    font-size: 25px;
    color: white;
    font-weight: bolder;
}
.fa-commenting {
   font-size: 25px;
    color: white; 
    font-weight: bolder;
}
.link{
   font-size: 14px;
   font-weight: bolder;
}
.fa-bell {
    font-weight: bolder;
    font-size: 25px;
    color: white; 
}
.birthday{
    width: 50%;
}
small{
    font-size: 10px;
}
.sign-up-body{
    background-image: linear-gradient(#111,#fff,#000);
    box-shadow: inset 0 0 10px #000000;
}

.text-one{
    font-family: 'Tangerine', serif;
    font-size: 38px;
    text-align: center;
    text-shadow: 4px 4px 4px #000;
    font-weight: 900;
    color: #fff;
}
.text-one-half{
    font-size: 18px;
    font-family: 'Tangerine', serif;
    text-align: center;
    text-shadow: 4px 4px 4px #000;
    font-weight: 900;
    color: #000;
}
.text-two{
    font-size: 15px;
    font-family: 'Tangerine', serif;
    text-align: center;
    text-shadow: 4px 4px 4px #000;
    font-weight: 900;
    color: #000;
}
input::placeholder{
    font-size: 24px;
    font-family: 'Tangerine', serif;
    font-weight: 900;
    color: #000;
    text-transform: capitalize;
}
.btn-text{
    font-size: 25px;
    font-family: 'Tangerine', serif;
    color: #fff;
    font-weight: bolder;
}
.one{
    height: 40px;
    padding: 15px;
    font-family: 'Tangerine', serif;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bolder;
}
.five{
    padding: 15px;
}
.one > img{
    width: 40px;
    height: 28px;
    border-radius: 50%;
    background: gold;
}
.left-nav-link{
    margin-left: 200px;
}
img[alt="user-pics"]{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
img[alt="user-pics-2"]{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.searcher{
    height: 35px;
}
.profile-pic{
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 20px 0px;
}
.one > a{
    text-decoration: none;
    color: #fff;
}

.one > a:hover{
    text-decoration: none;
    color: #777;
}
.my-pic{
    width: 250px;
    height: 150px;
}
.notify-count{
    position: absolute;
    transform: translate(-14px,-3px);
    z-index: 1;
    font-weight: 700;
    background: gold;
    border-radius: 25%;
    color: white;
    padding: 0.5px 1.8px 0.5px 1.8px;
}
.notify-count-but{
    background: #000000;
    border: 0;
}
.notify-name{
    font-size: 1rem;
}
.butt{
    height: 30px;
}
img[alt='friend-pics']{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.card{
  background-color: goldenrod;
  box-shadow: inset 0 0 10px #000000;
}
